extensions:
	rabbitmq: Damejidlo\RabbitMq\DI\RabbitMqExtension(false)


rabbitmq:
	connection:
		host: 127.0.0.1
		port: 5672
		user: guest
		password: guest
		vhost: '/'

	producers:
		foo_producer:
			exchange:
				name: foo_exchange
				type: direct
				passive: true
				durable: false
				autoDelete: true
				internal: true
				nowait: true
				arguments: null
				ticket: null

		default_producer:
			exchange: default_exchange


	consumers:
		foo_consumer:
			binding:
				- {exchange: foo_exchange, routingKey: 'android.#.upload'}
				- {exchange: foo_exchange, routingKey: 'iphone.upload'}
			queue:
				name: foo_queue
				passive: true
				durable: false
				exclusive: true
				autoDelete:  true
				nowait: true
				arguments: null
				ticket: null
			callback: DamejidloTests\RabbitMq\Callback()

		default_consumer:
			queue: default_queue
			callback: [DamejidloTests\RabbitMq\Callback, staticProcess]
			binding:
				- {exchange: default_exchange}

		qos_test_consumer:
			binding:
				- {exchange: foo_exchange}
			queue:
				name: foo_queue
			qos:
				prefetchSize: 1024
				prefetchCount:  1
			callback: [@collecting_callback, process]


services:
	collecting_callback: DamejidloTests\RabbitMq\Callback
