parameters:
	level: max
	paths:
		- %currentWorkingDirectory%/src

	ignoreErrors:
		-
			message: '#If condition is always true#'
			path: %currentWorkingDirectory%/src/RabbitMq/Command/ConsumerCommand.php
